body {
   background-color: rgb(14, 26, 82);
   color: white;
}
.todolist {
   text-align: center;
}

#myinput {
   border-radius: 10px;
}

#addbtn,
.listbtn {
   border-radius: 100%;
   background-color: rgba(195, 222, 231, 0.986);
   box-shadow: 2px 2px 5px 1px black;
   margin: 1px;
   height: 100%;
   padding: 1%;
}

#addbtn:hover,
.editbtn:hover {
   background-color: rgb(8, 211, 8);
}
.rmvbtn:hover {
   background-color: red;
}
.listElement {
   background-color: rgb(152, 29, 223);
   margin-top: 5%;
   border-radius: 7px;
   padding: 2px;
}
.listElement:hover {
   background-color: rgb(192, 120, 214);
   color: black;
}
.listElement li {
   overflow: hidden;
}
